<!DOCTYPE html>
<html>

<head>
    <title>Piloti di F1</title>
    <link rel="stylesheet" href="../static/css/style.css" />
</head>

<body>
    <div class="titolo">
    <h1>Piloti di F1 2023!</h1>
    </div>
    <section class="image-uno">
     <a href="https://www.youtube.com/watch?v=YLFVD8xaD3U"><img src="../static/images/1.jpg" alt="F1" width="400"></a>
    </section>
    
    {% for pilota in tabella_piloti  %}
    <section class="boiler">
        <a href="/Cognome/{{pilota[0]}}">
        <p>
            {{pilota[0]}}
        </p>
        </a>
    </section>
    {% endfor %}    
    
     
</body>
</html>
