<!DOCTYPE html>
<html>

<head>
    <title>Piloti di F1</title>
    <link <link rel="stylesheet" href="Style.css" />
</head>

<body>
    <h1 class="centro">Ecco i piloti di F1 della stagione 2023/2024!</h1>
    <img src="../static/images/1.jpg" alt="F1" width="400">
    {% for pilota in tabella_piloti  %}
         <p>
           Cognome: {{pilota[0]}}
        </p>
        <p>
            Nome: {{pilota [1]}}
        </p>
        <p>
            Nazionalità: {{pilota [2]}}
        </p>
        <p>
            Numero: {{pilota [3]}}
        </p>
        <p>
            Scuderia: {{pilota [4]}}
        </p>
        <p>
            Età: {{pilota [5]}}
        </p>
        <p>
            Pole Position: {{pilota [6]}}
        </p>
        <p>
            Podi: {{pilota [7]}}
        </p>
        <p>
            Vittorie: {{pilota [8]}}
        </p>

    {% endfor %}    
    
     
</body>
</html>
